USE [C:\USERS\REINALDOLIMA\SOURCE\REPOS\FI.WEBATIVIDADEENTREVISTA2\FI.WEBATIVIDADEENTREVISTA\APP_DATA\BANCODEDADOS.MDF]
GO
/****** Object:  StoredProcedure [dbo].[FI_SP_AltBenef]    Script Date: 02/11/2020 18:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[FI_SP_AltBenef]
    @NOME          VARCHAR (50),
	@CPF           VARCHAR (14),
	@ID			BIGINT
AS
BEGIN
	UPDATE BENEFICIARIOS 
	SET 
		CPF = @CPF,
		NOME = @NOME
	WHERE ID = @ID
END