

<form id="formCadastro" method="post">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Sobrenome">Sobrenome:</label>
                <input required="required" type="text" class="form-control" id="Sobrenome" name="Sobrenome" placeholder="Ex.: da Silva" maxlength="255">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CPF">CPF:</label>
                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 000.000.000-00" maxlength="14" pattern="^(\d{3}\.\d{3}\.\d{3}-\d{2})|(\d{14})$" data-mask="000.000.000-00" data-mask-selectonfocus="true">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nacionalidade">Nacionalidade:</label>
                <input required="required" type="text" class="form-control" id="Nacionalidade" name="Nacionalidade" placeholder="Ex.: brasileira" maxlength="50">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="CEP">CEP:</label>
                <input required="required"
                       type="text"
                       class="form-control"
                       id="CEP"
                       name="CEP"
                       placeholder="Ex.: 01011-100"
                       maxlength="9"
                       data-mask="00000-000"
                       data-mask-selectonfocus="true">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Estado">Estado:</label>
                <select required="required" id="Estado" class="form-control" name="Estado">
                    <option value="">Selecione</option>
                    <option value="SP">São Paulo</option>
                    <option value="PE">Pernambuco</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Cidade">Cidade:</label>
                <input required="required" type="text" class="form-control" id="Cidade" name="Cidade" maxlength="50" placeholder="Ex.: São Paulo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Logradouro">Logradouro:</label>
                <input required="required" type="text" class="form-control" id="Logradouro" name="Logradouro" placeholder="Ex.: Rua Boa Vista 253" maxlength="500">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Email">E-mail:</label>
                <input required="required" type="text" class="form-control" id="Email" name="Email" placeholder="Ex.: email@email.com" maxlength="2079">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Telefone">Telefone:</label>
                <input required="required"
                       type="tel"
                       class="form-control"
                       id="Telefone"
                       name="Telefone"
                       placeholder="Ex.: (11) 2020-3030"
                       maxlength="15"
                       data-mask="(11) 0000-0000"
                       data-mask-selectonfocus="true">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="pull-left">
                <button type="button" class="btn btn-sm btn-primary" onclick="OpenRecipientModal();">Beneficiários</button>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                @Html.ActionLink("Voltar", "Index", "Cliente", new { }, new { @class = "btn btn-sm btn-danger" })
            </div>
        </div>
    </div>


</form>

<div id="recipientModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" dat-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddRecipient" class="form-inline">
                    <div class="form-group">
                        <label for="Documento">CPF:</label>
                        <input required="required"
                               type="text"
                               class="form-control"
                               id="Document"
                               name="Document"
                               placeholder="Ex.: 000.000.000-00"
                               maxlength="14"
                               pattern="^(\d{3}\.\d{3}\.\d{3}-\d{2})|(\d{11})$"
                               data-mask="000.000.000-00"
                               data-mask-selectonfocus="true">
                    </div>
                    <div class="form-group">
                        <label for="Name">Name:</label>
                        <input required="required"
                               type="text"
                               class="form-control"
                               id="Name"
                               name="Name"
                               placeholder="Ex.: João Alberto"
                               maxlength="50">
                    </div>
                    <button class="btn btn-success"
                            id="add"
                            name="add"
                            type="button"
                            onclick="AddRecipient();">
                        Incluir
                    </button>
                </form>
                <table id="tableRecipent" class="table table-striped">
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

